* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary:#69a4cc;
    --color-light-blue: #33adff;
    --color-lighter-blue: #33adff;
    --color-pink: #ff33cc;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(3, 14, 36, 0.349);
    --color-white: #fff;
    --color-light: rgba(182, 160, 160, 0.7);
    --color-black: rgb(25, 25, 26);
    --color-bg0: #1f2641;
    --color-bg: #1b2e41;
    --color-bg1: #25426e;
    --color-bg2: #254d8a;
    --color-light-black: #333;
    --color-bg-light: rgba(145, 128, 128, 0.5);
    

    --container-width-sm: 88%;
    --container-width-md: 90%;
    --container-width-lg: 94%;

    --card-border-radius-1: 1rem;
    --card-border-radius-2: 5rem;
    --card-border-radius-3: 0.5rem;
    

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: linear-gradient(-60deg, var(--color-light-blue),  var(--color-bg));
    scroll-behavior: smooth;
}

.container{
    width: var(--container-width-sm);
    margin: auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h6,
h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
    
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

h6{
    font-size: 2.3rem;
}

a{
    color: var(--color-white);
}

a h6{
    color: #f7c94b;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-);
}


/*=========== NAVBAR ===========*/
nav{
    background: transparent;
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0.5rem;
    z-index: 11;
}

.nav::after{
    content: '';
    clear: both;
    display: table;
}

/****** Change the navbar style on scroll using javaScript *********/
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
/***********************************************/

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container h1{
    font-size: 0.7rem;
    position: absolute;
    text-align: center;
    margin-left: -10px;
}

.nav__menu{
    /*float: right;
    position: relative;*/
    display: flex;
    gap: 4rem;
    align-items: center;
}

/*
.nav__menu li{
    float: left;
    display: inline-block;
}
*/

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
    font-size: 1.1rem;
}

.nav__menu a:hover{
    color: var(--color-warning);
}

.nav-btn{
    background-color: transparent;
    border: 2px solid var(--color-white);
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.4ms ease-in-out;
    text-decoration: none;
}

.nav-btn:hover{
    background-color: transparent;
    border: 2px solid;
    border-color: var(--color-warning);
}

/* AVATAR */
.avatar{
    width: 2.8rem;
    aspect-ratio: 1/1; /*if width is change height also automatically changed*/
    border-radius: 50%;
    border: 0.2rem solid var(--color-bg);
    overflow: hidden;
    text-align: center;
}

.nav-profile{
    position: relative;
    cursor: pointer;
}

.nav-profile ul{
    position: absolute;
    top: 125%;
    right: 0;
    width: 8rem;
    display: flex;
    flex-direction: column;  
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul(dashboard,log out) when only go to the  nav profile */
.nav-profile:hover > ul{
    visibility: visible;
    opacity: 1;
}


.nav-profile ul li a{
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-bg2);
    display: block;
    margin-top: 2px;
    width: 100%;
    font-weight: 300;
}

.nav-profile ul li:last-child a{
    background: var(--color-danger);
    
}

/*=========== END OF THE NAV BAR ===========*/


/*CATEGORY BUTTON*/
.category-btn{
    background: var(--color-bg);
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-color: var(--color-bg);
    border-radius: 0.8rem;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    transition: var(--transition);
}

.category-btn:hover{
    background: transparent;
    border-color: var(--color-white);
}
/*END*/


/*GENERAL POST*/

.post-thumbnail{
    border-radius: var(--card-border-radius-2) 0;
    border: 1rem solid var(--color-light-black);
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.post:hover .post-thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
}

.post-author{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.post-author-avatar{
    width: 2.8rem;
    height: 2.8rem;
    object-fit: fill;
    border: 0.2rem solid var(--color-bg);
    border-radius: 50%;
    overflow: hidden; 
}
/* END GENERAL POST*/


/*=========== POST ===========*/

.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 3rem;
}

.post{
    margin-bottom: 3rem;
    padding: 1rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: var(--card-border-radius-2) 0;
    background: var(--color-danger-variant);
    transition: 300ms;
}

.post:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 70px rgba(0, 0, 0, 0.2);
    background: transparent;
}

.post .post-thumbnail{
    width: 16rem;
    height: 22rem;
}

.post .post-thumbnail img{
    width: 15rem;
    height: 20rem;
    object-fit: fill;
} 
/*=========== END OF THE POST ===========*/


/*=========== CATEGORY BUTTONS ===========*/

.category-buttons{
    padding: 3rem 0;
    border-top: 2px solid var(--color-bg2);
    border-bottom: 2px solid var(--color-bg2);
}

.category-buttons-container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}



/*=========== FEATURED POST ===========*/
.featured{
    margin-top: -6rem;
    margin-bottom: -6rem;
}

.featured-container .post-thumbnail img{
    height: 30rem;
}

.featured-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.featured .post-thumbnail{
    width: fit-content;
    height: fit-content;
}

.post-info{
    margin-top: 1rem;
}

.post-title{
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transition: var(--transition);
}

.post-title a{
    transition: var(--transition);
}

.post-title a:hover{
    color: var(--color-warning);
}

/*=========== END OF THE FEATURED ===========*/




/*=========== Footer ===========*/

footer{
    background: var(--color-black);
    padding: 4rem 0 3.2rem;
    font-size: 0.9rem;
    margin-top: 5rem;
    box-shadow: inset 0 1.5rem 1.5rem rgba(100, 86, 86, 0.2);
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.footer__container > div h4{
    margin-bottom: 1.2rem;
}

.footer__1 h4{
    color: var(--color-warning);
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
    color: var(--color-danger);
}

.footer__4 li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.7rem;
}

.footer__socials{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    transition: var(--transition);
}

.footer__socials a{
    background: var(--color-bg1);
    padding: 0.3rem;
    border-radius: 40%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.footer__socials a:hover{
    background: transparent;
}
/*=========== END OF THE FOOTER ===========*/



/*=========== SEARCH BAR ===========*/

.search-bar{
    margin-top: 3rem;
}

.search-bar-container{
    position: relative;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-bg);
    padding: 0.4rem 1rem;
    border-radius: var(--card-border-radius-3);
    color: var(--color-bg2);
    overflow: hidden;
}

.search-bar-container > div{
    width: 100%;
    display: flex;
    align-items: center;
}

.search-bar input{
    margin-left: 1.5rem;
    margin-right: 1rem;
    padding: 0.2rem 1rem;
    background: transparent;
    width: 100%;
    font-size: 1rem; 
    color: var(--color-light-blue);
}

.search-bar input::placeholder{
    color: var(--color-bg2);
}

.search-bar i{
    font-size: 1.2rem;  
}

/*=========== END OF THE SEARCH BAR ===========*/


/*=========== GENERAL BTN STYLES ===========*/

.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.4rem 0.7rem;
    background: var(--color-lighter-blue);
    border-radius: var(--card-border-radius-3);
    cursor: pointer;
    transition: var(--transition);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-bg2);
}

/*=========== END OF GENERAL BTN STYLES ===========*/

.section__extra-margin{
    margin-top: 7rem;
}

.alert__message.lg{
    text-align: center;
}



/*=========== @Media Queries (Medium 1 devices)===========*/
@media screen and (max-width: 1130px){
    .posts-container{
        gap: 1.8rem;
    }
}

/*=========== @Media Queries (Medium 2 devices)===========*/

@media screen and (max-width: 1024px) {
    .nav__menu{
        gap: 2rem;
    }

    
    .nav-profile ul{
        left: -105%;
    }

    .posts-container{
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        gap: 4rem;
    }

    .post .post-thumbnail{
        width: 15rem
    }

    .post .post-thumbnail img{
        object-fit: fill;
    }
}

/*=========== @Media Queries (small devices)===========*/

@media screen and (max-width: 700px) {
    .container{
        width: 80%;
    }

    h1{
        font-size: 2.4rem;
        
    }
    
    h2{
        font-size: 1.6rem;
    }
    
    h3{
        font-size: 1.2rem;
    }
    
    h4{
        font-size: 0.9rem;
    }
    
    h6{
        font-size: 2.3rem;
    }

    /*NAV BAR*/
    nav{
        position: fixed;
        width: 100%;
    }

    .nav__menu{
        gap: 1rem;
    }

    .nav__menu a{
        font-size: 0.8rem;
    }

    .nav-btn{
        padding: 5px 12px;
    }

    .nav-profile ul li a{
        padding: 10px 15px;
    }

    /*FEATURED POST*/
    .featured-container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    /*POST*/
    .posts-container{
        grid-template-columns: 1fr;
    }

    .post p{
        display: none;
    }

    .post-info{
        margin-top: 3rem;
        margin-left: 0;
    }

    .post-thumbnail{
        float: right;
    }

    .post{
        gap: 1rem;
    }

    /*FOOTER*/
    .footer__container{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5rem;
    }

    /*CATEGORY*/
    .category-buttons-container{
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }
}